language: python
python:
    - "3.6"

install:
  - pip install -r requirements-dev.txt
  - pip install pylint
  - pip install awscli

script:
  - "pylint --msg-template='{path}:{line}: [{msg_id}({symbol}) {obj}] {msg}' epsagon/"
  - tox
  - npm install && export PATH=$(pwd)/node_modules/.bin:$PATH
  - ./acceptance/run.sh $TRAVIS_BUILD_NUMBER

deploy:
  provider: script
  script: bash scripts/publish.sh
  edge: true
  on:
    branch: master
