language: python
python:
    - "2.7"
    - "3.6"
    - "3.7"
    - "3.8"

# for semantic-release
before_install:
  - nvm install 12  
  - nvm use 12

install:
  - pip install pip==22.0.3
  - pip install -r requirements-dev.txt

script:
  - ./scripts/run_lint.sh
  - ./scripts/run_tests.sh
  - 'if [ $AWS_ACCESS_KEY_ID ]; then ./scripts/run_acceptance_tests.sh; fi'

jobs:
  include:
    - stage: build-and-deploy
      provider: script
      python:
        - "3.8"
      nodejs:
        - "12"
      edge: true
      script:
        - ./scripts/publish.sh

stages:
  - Test
  - name: build-and-deploy
    if: branch = master AND type = push
