-r requirements.txt
boto3
tox
mock
Flask
# Choose 1.9.5 in py2, and 2.5.3 in py3
pylint>=1.9.5,<=2.5.3
pylint-quotes
django
pytest==6.0.0; python_version >= '3.5'
pytest==4.6.0; python_version < '3.5'
requests
sqlalchemy
psycopg2
aiohttp; python_version >= '3.5'
fastapi; python_version >= '3.5'
pytest-asyncio; python_version >= '3.5'
pytest-aiohttp; python_version >= '3.5'
httpx; python_version >= '3.5'
asynctest; python_version >= '3.5'
moto
